.jfx-button {
    -fx-background-color: #222E44;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.jfx-label {
    -fx-text-fill : #222E44;
}

.image {
    -fx-background-radius: 50;
}