.jfx-button {
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-radius: 30;
}

.jfx-label {
    -fx-text-fill : #222E44;
}

.image-small {
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
}

.coin-image {
    -fx-background-image: url("../images/two-coins.png");
}

.coin-total-image {
    -fx-background-size: 45px;
    -fx-background-image: url("../images/cash.png");
    -fx-background-repeat: no-repeat;
}

.jfx-choice-box{
    -fx-background-color: white;
}

.terrain-image{
    -fx-background-size: 500px;
}

.unit-image-style {
    -fx-background-size: 35px;
    -fx-background-repeat: no-repeat;
}

.unit-image-small {
    -fx-background-size: 31px;
    -fx-background-repeat: no-repeat;
}

.unit-number-style{
    -fx-font-size: 25px;
    -fx-text-fill: white;
}

.scroll-pane{
    -fx-background-color: black;
}

.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.table-view .column-header{
    -fx-background-color: white;
    -fx-border-color: black;
}

.table-row-cell: odd{
    -fx-background-color: grey;
}

.table-row-cell: even{
    -fx-background-color: white;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical . track,
.table-view .virtual-flow .scroll-bar:vertical . track-background{
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: black;
    -fx-background-radius: 5em;
}



.infantry-image{
    -fx-background-image: url("../images/infantry.png");
}

.ranged-image{
    -fx-background-image: url("../images/ranged.png");
}

.cavalry-image{
    -fx-background-image: url("../images/cavalry.png");
}

.commander-image{
    -fx-background-image: url("../images/commander.png");
}

.mage-image{
    -fx-background-image: url("../images/mage.png");
}

.banner-image{
    -fx-background-image: url("../images/banner.png");
}

.dragon-image{
    -fx-background-image: url("../images/dragon.png");
}


