.jfx-button {
    -fx-background-radius: 30;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: black;
    -fx-border-radius: 30;
}

.jfx-label {
    -fx-text-fill : #222E44;
}

.image-small {
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
}

.coin-image {
    -fx-background-image: url("../images/two-coins.png");
}

.coin-total-image {
    -fx-background-size: 45px;
    -fx-background-image: url("../images/cash.png");
    -fx-background-repeat: no-repeat;
}

.jfx-choice-box{
    -fx-background-color: white;
}

.terrain-image{
    -fx-background-size: 500px;
}
